
/* /////////////////////////NAVBAR ////////////////////////// */
.NavBar--logo{
  width: 82px;
  height: 25px;
  margin-top: 30px;
  margin-left: 30px;
 
}

.NavBar {
  width:auto;
  height: 80px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 justify-content: center;

}

/* ///////////////////////// HERO SECTION ////////////////////////// */
.hero--bg{
  width: 90%;
  height: 90%;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  
}
.text--head{
  margin-left: 30px;
  width: 347px;
  font-family: Poppins;
  font-size: 36px;
  line-height: 110%; /* 39.6px */
}
.text--sub{
  margin-left: 30px;
  width: 320px;
  line-height: 110%;
  height: 56px;
  font-size: 16px;
  
}

/* ///////////////////////// CARDS SECTION ////////////////////////// */
.Card--Section{
  margin-top: 50px;
  margin-left: 30px;
}
.Image--Card{
  width: 175px;
  height: 235px;
  flex-shrink: 0;
  border-radius: 15px;
}

.Rating--Loc{
  width: 23px;
  height: 14px;
  flex-shrink: 0;
  color: #918E9B;

font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 13.2px */

}
.Card--details{
  /* position: absolute;
  line-height: 15px; */
}
.Name--Cards{
  display:flex;
  margin-top: 0px;
}
.Price{
  position: relative;
  margin-top: 0px;
}